*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #141922;
}
/* ---------------------------------------------- UPDATE BAR ---------------------------------------------- */
/* BARRA CON IL PULSANTE "EFFETTUA L'UPDATE" */
#update{
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em 1em 2em 0;
    position: sticky;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}
#btn-update{
    color: #fff;
    padding: .5em;
    border-radius: 2em;
    border: 1px solid #fff;
}
/* ---------------------------------------------- UPDATE BAR ---------------------------------------------- */

/* ---------------------------------------------- NAV BAR ---------------------------------------------- */
/* BARRA LATERALE CHE CONTIENE I VARI PULSANTI */
nav{
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: rgb(113, 113, 113);
    width: 13em;
    height: calc(100vh - 5em);
    padding-left: .5em;
    position: sticky;
    left: 0;
    right: 0;
    z-index: 20;
}
nav div{
    display: flex;
    flex-direction: column;
}
#nav-logo{
    margin: 1em;
    height: 5%;
    align-self: start;
}
#nav-bottoni, #nav-playlist{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
#nav-bottoni span{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav-bottoni-img{
    width: 2em;
    height: auto;
}
#nav-playlist h4{
    color: #fff;
}
#nav-playlist .bi-plus-square-fill{
    width: 2em;
}
#nav-finale{
    margin-top: calc(50vh - 8em);
}
/* ---------------------------------------------- NAV BAR ---------------------------------------------- */

/* ---------------------------------------------- CONTROL BAR ---------------------------------------------- */
/* ZONA DI SINISTRA CON L'IMMAGINE DELLA CANZONE */
#controllo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5em;
    color: red;
    position: sticky;
    position: absolute;
    right: 0;
    z-index: 30;
    background-color: #282828;
}
#controllo-musica{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#controllo-musica-brano{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 1.5em;
}
#controllo-musica-brano img{
    width: 3em;
    margin-right: .5em;
    padding-left: .5em;
}
#controllo-musica-brano h3, #controllo-musica-brano span{
    font-size: 0.9em;
}
#controllo-musica i{
    margin-right: .5em;
}
/* ZONA DI SINISTRA CON L'IMMAGINE DELLA CANZONE */

/* ZONA CON I PULSANTI DI PLAY E LA BARRA */
#controllo-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}
#controllo-player-pulsanti{
    display: flex;
    gap: 1.5em;
}
#controllo-player-barra{
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1em;
}
#controllo-player-barra input[type="range"]{
    width: 40em;
    background: white;
}
/* ZONA CON I PULSANTI DI PLAY E LA BARRA */
/* ---------------------------------------------- CONTROL BAR ---------------------------------------------- */

/* ---------------------------------------------- SEZIONE DELLA MUSICA ---------------------------------------------- */

/* ---------------------------------------------- SEZIONE DELLA MUSICA ---------------------------------------------- */