*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #141922;
    color: rgb(113, 113, 113);
}
h3{
    color: #fff;
}
/*#update, nav, #controllo{
    position: fixed;
}*/
/* ---------------------------------------------- UPDATE BAR ---------------------------------------------- */
/* BARRA CON IL PULSANTE "EFFETTUA L'UPDATE" */
#update{
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em 1em 2em 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}
#btn-update{
    color: #fff;
    padding: .5em;
    border-radius: 2em;
    border: 1px solid #fff;
}
/* ---------------------------------------------- UPDATE BAR ---------------------------------------------- */

/* ---------------------------------------------- NAV BAR ---------------------------------------------- */
/* BARRA LATERALE CHE CONTIENE I VARI PULSANTI */
nav{
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: rgb(113, 113, 113);
    width: 13em;
    height: calc(100vh - 5em);
    padding: 0 .5em;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 20;
}
nav div{
    display: flex;
    flex-direction: column;
}
#nav-logo{
    margin: 1em;
    height: 5%;
    align-self: start;
}
#nav-bottoni, #nav-playlist{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
#nav-bottoni span{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav-bottoni-img{
    width: 2em;
    height: auto;
}
#nav-playlist h4{
    color: #fff;
}
#nav-playlist .bi-plus-square-fill{
    width: 2em;
}
#nav-finale{
    margin-top: 33vh;
}
#nav-finale img{
    width: 1.5em;
    height: 1.5em;
}
.nav-finale-oggetto{
    display: flex;
    flex-direction: row;
    gap: .5em;
}
#nav-finale-download{
    border-bottom: 2px solid rgb(128, 128, 128);
    padding-bottom: .5em;
}
#nav-finale-profilo{
    display: flex;
    flex-direction: row;
    color: #fff;
    padding-top: .5em;
}
#nav-finale-profilo span{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(128, 128, 128);
    border-radius: 1.5em;
}
/* ---------------------------------------------- NAV BAR ---------------------------------------------- */

/* ---------------------------------------------- CONTROL BAR ---------------------------------------------- */
#controllo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5em;
    color: #fff;
    position: fixed;
    right: 0;
    top: 92vh;
    z-index: 30;
    background-color: #282828;
}
.controllo-grigio{
    color: rgb(113, 113, 113);
}
/* ZONA DI SINISTRA CON L'IMMAGINE DELLA CANZONE */
#controllo-musica{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#controllo-musica-brano{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 1.5em;
}
#controllo-musica-brano img{
    width: 3em;
    margin-right: .5em;
    padding-left: .5em;
}
#controllo-musica-brano h3, #controllo-musica-brano span{
    font-size: 0.9em;
}
#controllo-musica i{
    margin-right: .5em;
}
/* ZONA DI SINISTRA CON L'IMMAGINE DELLA CANZONE */

/* ZONA CON I PULSANTI DI PLAY E LA BARRA */
#controllo-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}
#controllo-player-pulsanti{
    display: flex;
    gap: 1.5em;
}
#controllo-player-barra{
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1em;
}
#controllo-player-barra input[type="range"]{
    width: 40em;
    height: 5px;
    outline: none;
}
/* ZONA CON I PULSANTI DI PLAY E LA BARRA */

/* ZONA CON I PULSANTI PER IL VOLUME */
#controllo-volume{
    display: flex;
    gap: 1em;
}
/* ZONA CON I PULSANTI PER IL VOLUME */
/* ---------------------------------------------- CONTROL BAR ---------------------------------------------- */

/* ---------------------------------------------- MAIN SEZIONE DELLA MUSICA ---------------------------------------------- */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 13.5em);
    position: absolute;
    top: 7em;
    left: 13.5em;
}
main h3{
    color: #fff;
}
main h3:not(.mrp-card h3, .mcpt-card h3, .map-card h3){
    font-size: 2em;
    margin-bottom: 1em;
}
#mian-rp, #main-creato-per-te, #main-artisti-popolari{
    align-self: flex-start;
    padding-left: 0.5em;
}
/* ZONA CON I BOTTONI PER DECIDERE I TIPI DELLE PLAYLIST */
#main-bottoni{
    display: flex;
    gap: 1em;
}
/* ZONA CON I BOTTONI PER DECIDERE I TIPI DELLE PLAYLIST */

/* ZONA CON LE TRACCE ASACOLTATE DI RECENTE */
#main-rp{
    display: flex;
    flex-direction: column;
}
#main-rp div{
    display: flex;
    gap: 20px;
}
.mrp-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 6); 
}
.mrp-card img{
    width: 100%;
}
/* ZONA CON LE TRACCE ASACOLTATE DI RECENTE */

/* ZONA CON LE PLAYLIST CREATE PER TE */
#main-creato-per-te{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#main-creato-per-te div{
    display: flex;
    gap: 20px;
}
.mcpt-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100% / 6 - 20px);
}
/* ZONA CON LE PLAYLIST CREATE PER TE */

/* ZONA CHE CONTIENE LE PLAYLIST CON GLI ARTISTI PIU' POPOLARI */
#main-artisti-popolari{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-bottom: 6em;
}
#main-artisti-popolari div{
    display: flex;
    gap: 20px;
}
.map-card{
    flex-direction: column;
    text-align: center;
    width: calc(100% / 6 - 20px);
}
.map-img{
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}
.map-img img{
    width: 100%;
}
/* ZONA CHE CONTIENE LE PLAYLIST CON GLI ARTISTI PIU' POPOLARI */
/* ---------------------------------------------- MAIN SEZIONE DELLA MUSICA ---------------------------------------------- */